test-data/xsn-sample/myschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:my="http://schemas.microsoft.com/office/infopath/2003/myXSD"
            targetNamespace="http://schemas.microsoft.com/office/infopath/2003/myXSD">

  <xsd:element name="myFields">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EmployeeName" type="xsd:string" minOccurs="1"/>
        <xsd:element name="EmployeeEmail" type="xsd:string"/>
        <xsd:element name="LeaveType" minOccurs="1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Annual"/>
              <xsd:enumeration value="Sick"/>
              <xsd:enumeration value="Personal"/>
              <xsd:enumeration value="Bereavement"/>
              <xsd:enumeration value="Jury Duty"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="StartDate" type="xsd:date" minOccurs="1"/>
        <xsd:element name="EndDate" type="xsd:date" minOccurs="1"/>
        <xsd:element name="NumberOfDays" type="xsd:decimal"/>
        <xsd:element name="Reason" type="xsd:string" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="500"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ManagerName" type="xsd:string"/>
        <xsd:element name="ManagerApproval" type="xsd:boolean"/>
        <xsd:element name="Status" type="xsd:string"/>
        <xsd:element name="SubmittedDate" type="xsd:dateTime"/>
        <xsd:element name="Comments" type="xsd:string" nillable="true"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
